/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.footer-container {
  display: flex;
  align-items: center;
}
/*.footer-container {
  padding: 40px 40px 30px 40px;
}*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
